<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery_id %>
</p>

<<<<<<< HEAD:Ratebeer/app/views/beers/show.html.erb
<% if @beer.ratings.empty? %>
  beer has not yet been rated!
<% else %>
  Has <%= pluralize(@beer.ratings.count, 'rating') %>, average <%= @beer.average_rating %>
<% end %>

<br>
=======
<p>
<% if @beer.ratings.empty? %>
 beer has not yet been rated!
<% else %>
 <%="This beer has #{@beer.ratings.count} ratings, average #{@beer.average_rating} score"%>
<% end %>
</p>

<p><%= "rating".pluralize(@beer.ratings.count) %></p>

>>>>>>> 48ab198bc07410012bbddf4aa0b0b1ad15e94f82:ratebeer/app/views/beers/show.html.erb

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
